/CivilizationCraft_Statistics/.classpath
/CivilizationCraft_Statistics/.project
/CivilizationCraft_Statistics/.settings/
/CivilizationCraft_Statistics/bin/
/CivilizationCraft_Statistics/src/repository/TestMain.java